<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/home.css" rel="stylesheet">
    <title>Home</title>
</head>

<style>
    body{
        background-image: linear-gradient(to right, white, blue)
    }
    
    .container{
      text-align: center
    }
</style>

<body>
    <div class="main">
        <h1>Produto</h1>
        <div class="produtoUm">
            <h2>BMW GS 310</h2>
            <p>O motociclista encontrará toda tecnologia e qualidade BMW Motorrad traduzida pela arquitetura especial do motor, que garante consumos reduzidos. Com uma capacidade de 313 cm³ e uma potência de 34 cv (25 kW) em 9.250 rpm, a G 310 GS.</p>
            <p><strong>R$ 33.500</strong></p>
            <a href="/produtos"><img src="GS 310.jpg" alt="O desempenho do motor monocilíndrico é impressionante e se caracteriza pela rotação de 180º da cabeça do cilindro e sua inclinação posterior. Isso confere um baixo centro de gravidade à moto e transfere seu peso para a roda dianteira, permitindo à G 310 GS fazer as curvas com grande facilidade e precisão."></a>
        </div>
</body>